input{
    padding:5px;
    width:250px;
}
select{
    padding:5px;
    width:250px;
}
.modal{
    padding-left: 80px;
    padding-right: 80px;
}
.modalheader{
    padding-left: 142px;
    padding-right: 141px;
}
.modalfooter{
    padding-left: 135px;
    padding-right: 134px;
}
