<template>
    <div class="slds-modal__container slds-wrap">
     <!-- ###### MODAL BOX HEADER Start ######-->
         <header class="modalheader slds-modal__header">
            <h2 class="slds-text-heading_medium slds-hyphenate slds-float_left">New Log Entry</h2>
        </header>
        <!--###### MODAL BOX BODY Part Start######-->
        <div class="modal slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <div>
              <p class="slds-text-color_destructive slds-text-heading_small">Date</p>
              <input class="slds-m-top_small" type="Date" name="date" label="Date"></input>
        </div>
        <div class="slds-m-top_medium">
              <p class="slds-text-color_destructive slds-text-heading_small">Project Name</p>
              <input class="slds-m-top_small" type="text" name="projectName" label="Project Name" placeholder="Select Project"></input>
        </div>
        <div class="slds-m-top_medium">
            <p class="slds-text-color_destructive slds-text-heading_small">Task Name</p>
         <select class="slds-m-top_small"> 
            <option>Select Task</option>
            <option>Communication</option>
            <option>Development</option>
            <option>Documentation</option>
            <option>Mentoring Trainee</option>
            <option>Research</option>
            <option>Tehnical Design</option>
            <option>Testing(QA)</option>
            <option>Weekly Session</option>
        </select>
        </div>
        
        <div class="slds-m-top_medium">
            <p class="slds-text-color_destructive slds-text-heading_small">Time Spent</p>
            <input class="slds-m-top_small" type="time" name="timeSpent" label="Time Spent" placeholder="HH:MM"></input>
        </div>
        <div class="slds-m-top_medium slds-text-heading_small">
            <input type="checkbox" name="billable" label="Billable" style="width:20px;"></input>
            <span>Billable</span>
        </div>
        <div class="slds-m-top_medium">
              <p class="slds-text-color_destructive slds-text-heading_small">Notes</p>
              <textarea class="slds-m-top_small" rows="4" cols="33" placeholder="Notes"></textarea>
        </div>
    </div> 
        <!--###### MODAL BOX FOOTER Part Start ######-->
        <footer class="slds-modal__footer modalfooter">
                <button class="slds-button slds-button_destructive">Save</button>
           <button class="slds-button slds-button_neutral">Cancel</button>
        </footer>
   
</div>

</template>
