<template>
    <!-- LWC sample component <my-greeting> -->
    <div class="center greeting">
        <!-- <my-greeting speed="slow"></my-greeting> -->
        <my-greeting speed="medium"></my-greeting>
        <!-- <my-greeting speed="fast"></my-greeting> -->
    </div>

    <div class="center">
        <img src="/resources/lwc.png" />
    </div>

    <!-- Page code -->
    <div class="center">
        <div class="container">
            <p class="info">
                Edit <strong class="code">src/modules/my/app/app.html</strong>
                <br />and save for live reload.
            </p>
        </div>
        <div>
            <a href="https://lwc.dev" class="link" target="_blank">Learn LWC</a>
            <div class="slds-box slds-theme_inverse">
                    <section><h1>New Log Entry</h1></section>
                     <p>hjgdfyeg</p>
                     <p>cvgdf</p>
            </div> 
        </div>
    </div>
</template>
